:root {
  --clr-primary-400: hsl(215, 28%, 17%);
  --clr-accent-400: hsl(217, 91%, 59%);

  --clr-neutral-900: hsl(0, 0%, 0%);
  --clr-neutral-200: hsl(220, 13%, 91%);
  --clr-neutral-100: hsl(0, 0%, 100%);

  --ff-primary: "Roboto", sans-serif;

  --fw-xbold: 900;
  --fw-bold: 700;
  --fw-regular: 400;
  --fw-light: 300;

  --fs-900: 3rem;
  --fs-700: 2.25rem;
  --fs-600: 1.5rem;
  --fs-400: 1.125rem;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

body {
  font-family: var(--ff-primary);
}

/* button */
.button {
  display: inline-flex;
  cursor: pointer;
  text-decoration: none;
  border: 0;
  border-radius: 8px;
  padding: 0.25em 2.25em;
  font-weight: var(--fw-bold);
  color: var(--clr-neutral-100);
  background-color: var(--clr-accent-400);
}

.button[data-type="border"] {
  border: 3px solid var(--clr-neutral-100);
}

.button:is(:hover, :focus-visible) {
  background-color: hsl(217, 91%, 49%);
}

/* navigation */
.primary-header {
  background-color: var(--clr-primary-400);
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--clr-neutral-100);
  font-weight: var(--fw-bold);
  font-size: var(--fs-600);
  text-decoration: none;
}

.mobile-nav-toggle {
  display: none;
}

.nav-list {
  font-size: var(--fs-400);
}

.nav-list {
  display: flex;
  gap: 1.5rem;
  padding: 0;
}

.nav-list a {
  color: var(--clr-neutral-100);
  text-decoration: none;
}

@media (max-width: 50em) {
  .primary-navigation {
    display: none;

    position: fixed;
    padding: 1rem;
    inset: 4rem 0 auto 0;
    margin-left: auto;
    background-color: var(--clr-primary-400);
  }
  .nav-list {
    display: grid;
    gap: 1rem;
    text-align: center;
    font-weight: var(--fw-bold);
  }
  .primary-navigation[data-visible] {
    display: block;
  }
  .mobile-nav-toggle {
    display: block;
    cursor: pointer;
    background: transparent;
    border: 0;
    color: var(--clr-neutral-100);
    font-size: var(--fs-600);
  }
}

/* utility classes */
.container {
  max-width: 1110px;
  margin-inline: auto;
  padding: 1.25rem;
}

.even-columns {
  display: grid;
  align-items: center;
  gap: 3rem;
}

@media (min-width: 50em) {
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}

.bg-primary-400 {
  color: var(--clr-neutral-100);
  background-color: var(--clr-primary-400);
}

/* sections */
.hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
}

.hero h1 {
  font-size: var(--fs-900);
  font-weight: var(--fw-xbold);
  line-height: 1.25;
}

.hero p {
  color: var(--clr-neutral-200);
}
