:root {
  --clr-primary-400: hsl(215, 28%, 17%);
  --clr-accent-400: hsl(217, 91%, 59%);

  --clr-neutral-900: hsl(0, 0%, 0%);
  --clr-neutral-200: hsl(220, 13%, 91%);
  --clr-neutral-100: hsl(0, 0%, 100%);

  --ff-primary: "Roboto", sans-serif;

  --fw-xbold: 900;
  --fw-bold: 700;
  --fw-regular: 400;
  --fw-light: 300;

  --fs-900: 3rem;
  --fs-700: 2.25rem;
  --fs-600: 1.5rem;
  --fs-400: 1.125rem;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

